<h1>Detalhes do quarto</h1>

<p><strong><%= Room.human_attribute_name("name") %>:</strong> <%= @room.name %></p>
<p><strong><%= Room.human_attribute_name("description") %>:</strong> <%= @room.description %></p>
<p><strong><%= Room.human_attribute_name("dimension") %>:</strong> <%= @room.dimension %>m2</p>
<p><strong><%= Room.human_attribute_name("max_accommodation") %>:</strong> <%= @room.max_accommodation %></p>
<p><strong><%= Room.human_attribute_name("standard_price") %>:</strong><%= number_to_currency(@room.standard_price, :unit => "R$") %></p>
<p><strong><%= Room.human_attribute_name("has_bathroom") %>:</strong> <%= @room.has_bathroom ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("has_balcony") %>:</strong> <%= @room.has_balcony ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("has_air_conditioner") %>:</strong> <%= @room.has_air_conditioner ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("has_tv") %>:</strong> <%= @room.has_tv ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("has_closet") %>:</strong> <%= @room.has_closet ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("has_safe") %>:</strong> <%= @room.has_safe ? 'Sim' : 'Não' %></p>
<p><strong><%= Room.human_attribute_name("is_disabled_accessible") %>:</strong> <%= @room.is_disabled_accessible ? 'Sim' : 'Não' %></p>

<%= link_to 'Voltar', show_inn_path(@room.inn) %>