<h2>Escolha a(s) opções desejada(s)</h2>

<%= form_tag(advanced_search_inns_path, method: :get) do %>
  <div class="form-group">
    <%= label_tag :pet_allowed do %>
      <%= check_box_tag :pet_allowed %>
      <%= Inn.human_attribute_name("pet_allowed") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_bathroom do %>
      <%= check_box_tag :has_bathroom %>
      <%= Room.human_attribute_name("has_bathroom") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_balcony do %>
      <%= check_box_tag :has_balcony %>
      <%= Room.human_attribute_name("has_balcony") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_air_conditioner do %>
      <%= check_box_tag :has_air_conditioner %>
      <%= Room.human_attribute_name("has_air_conditioner") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_tv do %>
      <%= check_box_tag :has_tv %>
      <%= Room.human_attribute_name("has_tv") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_closet do %>
      <%= check_box_tag :has_closet %>
      <%= Room.human_attribute_name("has_closet") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :has_safe do %>
      <%= check_box_tag :has_safe %>
      <%= Room.human_attribute_name("has_safe") %>
    <% end %>
  </div>
  <div class="form-group">
    <%= label_tag :is_disabled_accessible do %>
      <%= check_box_tag :is_disabled_accessible %>
      <%= Room.human_attribute_name("is_disabled_accessible") %>
    <% end %>
  </div>
  <%= button_tag 'Buscar'%>
<% end %>

<%= link_to 'Voltar', root_path %>