<% if @query.nil? %>
  <h2>Resultado da busca avançada:</h2>
<% else %>
  <h2>Pousadas encontradas com: <%= @query %></h2>
<% end %>

<% if @inns.present? %>
  <p><%= @inns.count %> <%= Inn.model_name.human(count: @inns.count).downcase %> <%= t(:found_a, count: @inns.count) %>.</p>
  <ul>
    <% @inns.each do |inn| %>
      <li>
        <%= link_to inn.brand_name, show_inn_path(inn) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum registro encontrado.</p>
<% end %>

<%= link_to 'Voltar', root_path %>