<h1>Dados da Pousada</h1>

<p><strong><%= Inn.human_attribute_name("brand_name") %>:</strong> <%= @inn.brand_name %></p>
<p><strong><%= Inn.human_attribute_name("phone_number") %>:</strong> <%= @inn.phone_number %></p>
<p><strong><%= Inn.human_attribute_name("contact_email") %>:</strong> <%= @inn.contact_email %></p>

<% if @inn.address %>
  <h2>Endereço</h2>
  <p><strong><%= Inn.human_attribute_name("address.street") %>:</strong> <%= @inn.address.street %></p>
  <p><strong><%= Inn.human_attribute_name("address.district") %>:</strong> <%= @inn.address.district %></p>
  <p><strong><%= Inn.human_attribute_name("address.city") %>:</strong> <%= @inn.address.city %></p>
  <p><strong><%= Inn.human_attribute_name("address.state") %>:</strong> <%= @inn.address.state %></p>
  <p><strong><%= Inn.human_attribute_name("address.postal_code") %>:</strong> <%= @inn.address.postal_code %></p>
<% else %>
  <p><strong>Endereço não especificado</strong></p>
<% end %>

<p><strong><%= Inn.human_attribute_name("pet_allowed") %>:</strong> <%= @inn.pet_allowed ? 'Sim' : 'Não' %></p>

<% if @inn.payment_methods.present? %>
  <p><strong>Métodos de pagamento:</strong></p>
  <ul>
    <% @inn.payment_methods.each do |method| %>
      <li><%= PaymentMethod.human_attribute_name("method.#{method}") %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum método de pagamento selecionado.</p>
<% end %>

<p><strong><%= Inn.human_attribute_name("checkin_time") %>:</strong> <%= @inn.checkin_time.strftime('%H:%M') %></p>
<p><strong><%= Inn.human_attribute_name("checkout_time") %>:</strong> <%= @inn.checkout_time.strftime('%H:%M') %></p>
<p><strong><%= Inn.human_attribute_name("description") %>:</strong> <%= @inn.description %></p>
<p><strong><%= Inn.human_attribute_name("usage_policies") %>:</strong> <%= @inn.usage_policies %></p>

<%= link_to 'Voltar', root_path %>