<div class="container w-75">
  <% if inn.errors.any? %>
    <div class="alert alert-danger">
      <p>Verifique os erros abaixo:</p>
      <ul>
        <% inn.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for inn, html: { class: "row g-3 mx-auto" } do |f| %>
    <div class="col-md-6">
      <%= f.label :corporate_name, class: "fw-bold" %>
      <%= f.text_field :corporate_name, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :brand_name, class: "fw-bold" %>
      <%= f.text_field :brand_name, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :registration_number, class: "fw-bold" %>
      <%= f.text_field :registration_number, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :phone_number, class: "fw-bold" %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <%= f.label :contact_email, class: "fw-bold" %>
      <%= f.text_field :contact_email, class: "form-control" %>
    </div>

    <%= f.fields_for :address do |address_fields| %>
      <div class="col-md-6">
        <%= address_fields.label :street, class: "fw-bold" %>
        <%= address_fields.text_field :street, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= address_fields.label :district, class: "fw-bold" %>
        <%= address_fields.text_field :district, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= address_fields.label :city, class: "fw-bold" %>
        <%= address_fields.text_field :city, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= address_fields.label :state, class: "fw-bold" %>
        <%= address_fields.text_field :state, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= address_fields.label :postal_code, class: "fw-bold" %>
        <%= address_fields.text_field :postal_code, class: "form-control" %>
      </div>
    <% end %>

    <div class="col-md-8">
      <%= f.label :description, class: "fw-bold" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="col-md-4 mt-5">
      <%= f.label :checkin_time, class: "fw-bold" %>
      <%= f.time_select :checkin_time, class: "form-control" %>
    </div>
    <div class="col-md-8">
      <%= f.label :usage_policies, class: "fw-bold" %>
      <%= f.text_area :usage_policies, class: "form-control" %>
    </div>
    <div class="col-md-4 mt-5">
      <%= f.label :checkout_time, class: "fw-bold" %>
      <%= f.time_select :checkout_time, class: "form-control" %>
    </div>

    <div class="col-md-9">
      <%= f.label :payment_methods, PaymentMethod.model_name.human, class: "form-check-label fw-bold" %>
      <%= f.collection_check_boxes :payment_methods, PaymentMethod.methods, :first, :last do |f| %>
        <div class="d-flex">
          <%= f.label class: "form-check-label me-2" %>
          <div class="form-check">
            <%= f.check_box class: "form-check-input" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex col-md-3">
      <%= f.label :pet_allowed, class: "form-check-label fw-bold" %>
      <div class="form-switch ms-2">
        <%= f.check_box :pet_allowed, class: "form-check-input" %>
      </div>
    </div>

    <div class="d-flex col-md-3">
      <% if inn.valid? %>
        <%= f.label "Pousada ativa", class: "form-check-label fw-bold" %>
        <div class="form-switch ms-2">
          <%= f.check_box :active, class: "form-check-input" %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit 'Salvar', class: "btn btn-success" %>
      <% if @inn.valid? %>
        <%= link_to 'Voltar', @inn, class: "btn btn-secondary" %>
      <% else %>
        <%= link_to 'Voltar', root_path, class: "btn btn-secondary" %>
      <% end %>
    </div>

  <% end %>
</div>