<h1>Cadastrar pousada</h1>

<%= form_for @inn do |f| %>
  <div class="field">
    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name %>
  </div>
  <div class="field">
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div>
  <div class="field">
    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>

  <%= f.fields_for :address do |address_fields| %>
  <div class="field">
    <%= address_fields.label :street, 'Rua'%>
    <%= address_fields.text_field :street %>
  </div>
  <div class="field">
    <%= address_fields.label :district, 'Bairro' %>
    <%= address_fields.text_field :district %>
  </div>
  <div class="field">
    <%= address_fields.label :city, 'Cidade' %>
    <%= address_fields.text_field :city %>
  </div>
  <div class="field">
    <%= address_fields.label :state, 'Estado' %>
    <%= address_fields.text_field :state %>
  </div>
  <div class="field">
    <%= address_fields.label :postal_code, 'CEP' %>
    <%= address_fields.text_field :postal_code %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_allowed %>
    <%= f.check_box :pet_allowed %>
  </div>

<!--  <div class="field">-->
    <%#= f.label :payment_method, 'Métodos de Pagamento' %>
    <%#= f.collection_check_boxes :payment_method, Inn.payment_methods.keys, {}, multiple: true %>
<!--  </div>-->
<!--  <div class="field">-->
<!--    <%#= f.label 'Métodos de Pagamento' %><br>-->
    <%# Inn.payment_methods.keys.each do |method| %>
<!--      <label>-->
        <%#= check_box_tag 'inn[payment_methods][]', method, @inn.payment_methods.include?(method.to_s) %>
        <%#= method.humanize %>
<!--      </label><br>-->
    <%# end %>
<!--  </div>-->


  <div class="field">
    <%= f.label :checkin_time %>
    <%= f.time_select :checkin_time %>
  </div>
  <div class="field">
    <%= f.label :checkout_time %>
    <%= f.time_select :checkout_time %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :usage_policies %>
    <%= f.text_area :usage_policies %>
  </div>
  <div class="actions">
    <%= f.submit 'Cadastrar pousada' %>
  </div>
<% end %>