<h2>Pousadas encontradas na cidade: <%= @city %></h2>

<% if @inns.present? %>
  <p><%= @inns.count %> <%= Inn.model_name.human(count: @inns.count).downcase %> <%= t(:found_a, count: @inns.count) %>.</p>
  <ul>
    <% @inns.each do |inn| %>
      <li>
        <%= link_to inn.brand_name, show_inn_path(inn) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum registro encontrado.</p>
<% end %>

<%= link_to 'Voltar', cities_path %>