<!DOCTYPE html>
<html>
  <head>
    <title>InnApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
    <nav>
      <%= link_to 'Página inicial', root_path %> |
      <%= link_to 'Cidades', cities_path %> |

      <% if user_signed_in? %>
        <% if current_user.inn.present? && current_user.inn.valid? %>
          <%= link_to 'Minha pousada', inn_path(current_user.inn.id) %> |
          <%= link_to 'Meus quartos', rooms_path %> |
        <% end %>

        <%= current_user.email %> |

        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar como Anfitrião', new_user_session_path %>
      <% end %>
    </nav>
  </header>
  <main>
    <div>
      <%= notice %>
      <%= alert %>
    </div>
    <%= yield %>
  </main>
  </body>
</html>
